src/framework_include/**
src/engine_include/**
*~
junk/**
Win64/**
bin/**
!*.glsl
!*.png
docs/**
temp/**
dep/**
shaders/*.spv
src/include/**
lib/**
clang/**
*.dir
x64/**
*.dir/**
uml/**
