Win64/**
bin/*.pdb
bin/*.ilk
bin/*.exp
bin/*.dll
bin/*.lib
bin/*.exe
bin/*.devaobj
bin/lib**
!CMakeLists.txt
!*.glsl
!*.png
!bin/glbinding.dll
!bin/glfw3.dll
!bin/glew32.dll
!bin/libpng16.dll
!lua.dll
docs/**
public_headers/**
